<template>
  <div id="navigation" v-bind:class="{ active: showNavbar }">
    <div class="container">
      <div class="row">
        <a class="logo">{{ name }}</a>

        <a class="btn-menu" :class="{ active: burgerActive }" v-on:click="btnMenu">
          <span class="burger"></span>
          <span class="burger"></span>
          <span class="burger"></span>
        </a>

        <div class="row menu">
          <ul class="items">
            <li v-for="items in listMenu" v-on:click="btnMenu">
              <a :href="items.link">{{ items.name }}</a>
            </li>
          </ul>

          <ul class="languages">
            <li v-for="language in languages">
              <a :href="language.link">{{ language.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      burgerActive: false,
      navActive: false,

      showNavbar: false,
      // lastScrollPosition: 0,

      name: "Victor Marques",
      listMenu: [
        {
          name: "Home",
          link: "#home"
        },
        {
          name: "Sobre mim",
          link: "#about"
        },
        {
          name: "Currículo",
          link: "#resume"
        },
        {
          name: "Portfólio",
          link: "#portfolio"
        },
        {
          name: "Contato",
          link: "#contact"
        }
      ],

      languages: [
        {
          name: "PT",
          link: "#"
        },
        {
          name: "EN",
          link: "#"
        }
      ]
    };
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll);
  },
  methods: {
    btnMenu() {
      this.burgerActive = !this.burgerActive;
      this.navActive = !this.navActive;
    },
    onScroll() {
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop;

      console.log(currentScrollPosition);
      if (currentScrollPosition >= 100) {
        this.showNavbar = true;
      } else {
        this.showNavbar = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
#navigation {
  position: fixed;
  width: 100%;
  overflow: hidden;
  transition: 0.25s all ease-out;

  &.active {
    background-color: #4713d4;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
  }

  .row {
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-family: "Satisfy", cursive;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(#000000, 0.5);
  }

  .items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    a {
      font-family: "Bitter", serif;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      padding: 15px;
    }
  }

  .languages {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    a {
      font-family: "Quicksand", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      padding: 15px;

      &.active {
        color: #feff46;
      }
    }
  }

  .btn-menu {
    cursor: pointer;
    width: auto;
    display: none;
    transition: all 0.7s ease;

    &.active {
      .burger {
        &:nth-child(1) {
          transform: translateY(13px) rotateZ(45deg);
        }

        &:nth-child(2) {
          width: 0;
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotateZ(-45deg);
        }
      }
    }

    .burger {
      display: block;
      height: 5px;
      width: 45px;
      background-color: #fff;
      margin-bottom: 5px;
      border-radius: 5px;
      transition: all 0.7s ease;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 992px) {
  #navigation {
    max-height: 58px;
    transition: all 0.7s ease-in-out;

    &.active {
      max-height: 1000px;
    }

    .row {
      padding: 0 20px;
    }

    .btn-menu {
      display: block;
    }

    .menu {
      display: block;
      width: 100%;
      margin-top: 20px;
      transition: all 0.7s ease;

      .items {
        flex-direction: column;
        width: 100%;
        text-align: left;

        a {
          display: block;
        }
      }

      .languages a {
        display: block;
      }
    }
  }
}
</style>
