<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Quicksand:300,400,500,700|Satisfy&display=swap');
@import 'assets/css/grid';

body { margin: 0; }
</style>
